@import "../../../../styles/Mixin.scss";
@import "../../../../styles/Variables.scss";

.itemContainer{
    @include flexbox(row, start,center);
    transition: all 250ms;
    column-gap: 10px;
    padding: 10px 0;

    &>img{
        width: 5vh;
        height: 5vh;
    }

    &>h3{
        font-size: 1em;
        font-weight: 300;
    }

    &:hover{
        background: $white;
    }
  
}
