@import "../../../styles/mixin.scss";
@import "../../../styles/variables.scss";

.main {
  & > h1 {
    padding: 20px 0;
    text-align: center;
    font-family: $Montserrat;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .productsContainer {
    @include flexbox(row, center, start);
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 38px;
    padding-bottom: 60px;
    
  }
}
