@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.main {
  padding: 20px;

  & > h1 {
    padding-bottom: 20px;
    font-family: $Montserrat;
    font-weight: 400;
    text-transform: uppercase;
  }

  .categoriesContainer {
    width: fit-content;
    overflow: hidden;
    @include flexbox(column, start, start);
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
}
