@import "../../../styles/variabls.scss";
@import "../../../styles/mixin.scss";

.main {
    padding: 20px;

    &>h1{
        padding-bottom: 20px;
        font-family: $Montserrat;
        font-weight: 400;
        text-transform: uppercase;
    }

  .categoriesContainer {
    width: fit-content;
    overflow: hidden;
    @include flexbox(column, start, start);
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;

    & > h3 {
      font-family: $Montserrat;
      font-size: 1.1em;
      color: $black;
      font-weight: 300 !important;
      background-color: $white;
      transition: all 250ms;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      text-transform:uppercase;

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 0.5px;
        background-color: $black;
        transition: width 250ms;
      }

      &:hover::after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 0.5px;
        background-color: $black;
        transition: width 250ms;
      }
    }
  }
}
