// colors
$white: #eaeaea;
$light-white: #f4f4f4;
$black: #1f1f1f;
$grey: #858585;
$green: #31864d;
$red: #ff0000;
// Text fonts

$FoglihtenNo06: "FoglihtenNo06", sans-serif;
$Montserrat: "Montserrat", sans-serif;
