@import "../../styles/Variables.scss";
@import "../../styles/Mixin.scss";

.container {
  padding: 40px;
  @include flexbox(row, center, start);
  column-gap: 80px;
  .infoContainer {
    & > h2 {
      font-size: 1.5em;
      font-weight: 300;
    }

    .paymentInfo {
      .expressPaymentContainer {
        @include flexbox(row, center, start);
        column-gap: 20px;
        padding-top: 10px;

        .paymentButton {
          @include flexbox(row, center, center);
          width: auto;
          height: auto;
          padding: 8px 50px;
          border-radius: 4px;
        }

        .paypalTheme {
          background-color: #ffc43a;
        }

        .googlePayTheme {
          border: 1px solid $black;
        }

        .applePayTheme {
          background-color: $black;
        }
      }

      .textContainer {
        @include flexbox(row, center, center);
        & > h2 {
          font-size: 1em;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }

    & > div {
      @include flexbox(column, start, start);
      row-gap: 20px;
      background-color: $light-white;
      border: 1px solid $black;
      padding: 20px;
      width: 36vw;
      height: fit-content;
      margin-top: 20px;

      & > h2 {
        text-transform: uppercase;
        font-size: 1.3em;
      }

      & > div {
        width: 100%;

        & > h2 {
          font-size: 1em;
          font-weight: 300;
        }
      }
    }

    .combineContainer {
      @include flexbox(row, start, start);
      column-gap: 10px;

      & > div > h2 {
        font-size: 1em;
        font-weight: 300;
      }
    }
  }

  .cartInfoContainer {
    position: sticky;
    top: 40px;
    width: 30%;
    height: fit-content;
    background-color: $light-white;
    border: 1px solid $black;

    .productContianer {
      max-height: 40vh;
      width: 100%;
      overflow: scroll;
      overflow-x: hidden;
    }

    .priceInfoContainer {
      @include flexbox(column, start, start);
      row-gap: 10px;
      padding: 20px 0px;
    }

    .submitContainer {
      padding-top: 10px;
      .submitButton {
        margin-top: 10px;
        @include styledButton(100%, 30px);
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
      }
    }

    .priceInfo {
      @include flexbox(row, space-between, center);
      width: 100%;
      padding: 0px 10px;
      & > h2 {
        font-size: 1.2em;
        font-weight: 300;
      }

      & > h3 {
        font-weight: 400;
      }
    }
  }
}
