@mixin arrowContainer {
    z-index: 3; 
    position: absolute;
    cursor: pointer;
}

.nextArrowContainer{
    top: 42%;
    margin-right: -25px;
    rotate: 90deg;
    right: 0;
    @include arrowContainer;
}

.prevArrowContainer{
    bottom: 50%;
    margin-left: -25px;
    rotate: 270deg;
    @include arrowContainer;
}

