@import "../../styles/Variables.scss";
@import "../../styles/Mixin.scss";

.mainContainer {
  width: 100%;
  height: 15vh;
  min-height: 100px;
  background-color: $light-white;

  .main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    .mainLogo {
      grid-area: 1 / 1 / 2 / 2;
      @include flexbox(row, center, center);
      & > a>h1 {
        font-size: 3em;
        letter-spacing: -4px;
      }
    }

    .searchContainer {
      grid-area: 1 / 3 / 2 / 5;
      @include flexbox(row, center, center);

      
    }
  }

  .navBarContainer {
    grid-area: 1 / 5 / 2 / 6;
    @include flexbox(row, center, center);
    column-gap: 20px;

    &> a>h3 {
      transition: all 250ms ;

      &:hover {
        color: $green;
      }
    }
  }

  .dividingLine {
    width: 43%;
    box-sizing: border-box;
    height: 1px;
    background-color: $black;
    padding: 0px 40px;
  }
}
