@import "../../../styles/Variables.scss";

.inputForm {
  width: 65%;
  min-width: 100px;
  max-width: 400px;
  height: 35px;
  .inputContainer {
    position: relative;

    .input {
      background: 0;
      border: 0;
      color: $black;
      outline: none;
      width: 100%;
      font-family: "Montserrat" !important;
      font-weight: 300;
      font-size: 1em;

      &:focus + .line {
        &:after {
          transform: scaleX(1);
        }
      }
    }
    .line {
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -5px;
      background: $grey;

      &:after {
        content: " ";
        position: absolute;
        float: right;
        width: 100%;
        height: 1px;

        transform: scalex(0);
        transition: transform 0.3s ease;

        background: $black;
      }

      &.error {
        background-color: $red;
      }
    }
  }

  .errorMessage {
    font-weight: 400;
    font-size: 0.9em;
    padding-top: 10px;
    color: $red;
  }
}
