@import "../../../styles/Variables.scss";
@import "../../../styles/Mixin.scss";
.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  @include flexbox(row, center, center);
  transition: 250ms all;
  opacity: 0;
  pointer-events: none;
  z-index: 2;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .main {
    position: absolute;
    padding: 10px;
    background-color: $light-white;
    border: 1px solid $black;
    z-index: 3;
  }
}

