@import "../../styles/Variables.scss";
@import "../../styles/Mixin.scss";
.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    width: 60vw;
    height: 60vh;
    border: 2px $black solid;
    border-radius: 3px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    & > img {
      overflow: hidden;
      grid-area: 1 / 1 / 2 / 2;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    .registerContainer {
      grid-area: 1 / 2 / 2 / 3;
      background-color: $light-white;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 65px;

      .active {
        visibility: visible !important;
      }
       &>p {
        visibility: hidden;
        color: $red;
        font-weight: 300;
        height: 19px;
      }

      .registerForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
        width: 100%;

        .submitButton {
          margin-top: 50px;
          background: none;
          width: 9vw;
          height: 3vh;
          color: $black;
          border: 2px solid $black;
          border-radius: 3px;
          transition: all 250ms;
          cursor: pointer;

          &:hover {
            background-color: $black;
            color: $light-white;

            & > svg > circle {
              stroke: $white;
            }
          }

          & > span {
            font-weight: 400;
          }
        }
      }
    }
  }
}
